*{box-sizing:border-box;}
#attack{color:red;cursor:pointer;}
#feint{color:blue;cursor:pointer;}
#parry{color:green;cursor:pointer;}
div{text-align:center;}
#results{margin:5% 0 5% 0;}
#status span{color:red;}
.winner{text-decoration: underline;color:green;}
.loser{text-decoration: underline;color:red;}
svg{border-radius:10px;background:black;border:4px outset #bbb;}
svg path{fill:red;transition:fill 1s ease-in-out;}

#player_screen{position:absolute;top:0;left:0;width:25%;height:100%;background:black;}
#opponent_screen{position:absolute;top:0;right:0;width:25%;height:100%;background:black;transition:width 2s ease-in-out;}
#middle_screen{position:absolute;top:0;left:25%;width:50%;height:100%;background:darkgrey;}
.health_bar{width:25px;height:90%;border:2px outset gold;position:relative;top:5%;background:red;}
#player_screen .health_bar{left:10px;}
#opponent_screen .health_bar{right:10px;margin-left:auto;}
.health_bar div{transition:height 2s ease-in-out;background:black;width:100%;height:100%;}
.actions{width:80%;position:relative;top:-85%;left:45px;}
h1{color:white;position:relative;height:5%;padding-top:20px;margin:0;}
.rest{color:white;position:relative;height:95%;}
#player_screen svg{cursor:pointer;}

#player_actions_display{margin-top:35%;}
#player_actions_display svg path{fill:black;}
#opponent_actions_display svg path{fill:black;}
#models{display:none;}